@use '../breakpoints.scss';

.container {
  max-width: 100%;
  padding-left: 15%;
  padding-right: 15%;

  .navbar-nav {
    flex-direction: row;

    .nav-link {
      padding-right: var(--bs-navbar-nav-link-padding-x);
      padding-left: var(--bs-navbar-nav-link-padding-x);
    }
  }
}

@media only screen and (max-width: breakpoints.$tablet-breakpoint) {
  
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: breakpoints.$mobile-breakpoint) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}