@use '../colors.scss';

.experience-tabs {
  margin-top: 50px;
  font-size: 18px;
  
  .nav-item {    
    margin-right: 5px;
    margin-bottom: 5px;
    outline: 0px solid colors.$skill-border-color;
    border-radius: 5px;
    transition: outline .25s ease-in-out;
    -moz-transition: outline .25s ease-in-out;
    -webkit-transition: outline .25s ease-in-out;

    .nav-link {
      color: black;
    }
    .nav-link.active {
      color: black;
      background-color: colors.$skill-background-color;
    }

     &:hover {
      outline: 5px solid colors.$skill-border-color;
      transition: outline .25s ease-in-out;
      -moz-transition: outline .25s ease-in-out;
      -webkit-transition: outline .25s ease-in-out;
    }
  }
}
