.intro-container {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro-text {
  max-width: 50%;
  text-align: center;

  .intro-name {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .intro-description {
    margin-bottom: 100px;

    .intro-title {
      font-size: 2vw;
    }

    .intro-fact {
      font-size: 28px;
    }
  }

  ul {
    margin-top: 40px;
    text-align: start;
    list-style: none;
  }
}

