@import '../colors.scss';

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0px;
  gap: 20px; 
  list-style: none; 
}

.grid-item {
  box-sizing: border-box;
  border-radius: 10px;
  height: 60px;
  text-align: center;
  background-color: $skill-background-color;
  align-content: center;
  cursor: pointer;

  outline: 0px solid $skill-border-color;
  transition: outline .25s ease-in-out;
  -moz-transition: outline .25s ease-in-out;
  -webkit-transition: outline .25s ease-in-out;
}

.grid-item:hover {
  outline: 5px solid $skill-border-color;
  transition: outline .25s ease-in-out;
  -moz-transition: outline .25s ease-in-out;
  -webkit-transition: outline .25s ease-in-out;
}

.skill-tooltip {
  --rt-transition-show-delay: .25s;
  --rt-transition-closing-delay: .25s;
  --rt-opacity: 0.65;
}

