@import './breakpoints.scss';

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 3vw;
}

.body {
    padding-left: 15%;
    padding-right: 15%;
}

@media only screen and (max-width: $tablet-breakpoint) {

  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 5vw;
  }

  .body {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 28px;
  }

  .body {
    padding-left: 5%;
    padding-right: 5%;
}
}