@use '../../../colors.scss';
@use '../../../breakpoints.scss';

.form-control {
  outline: 1px solid colors.$carousel-border-color;

  transition: outline .1s ease-in-out;
  -moz-transition: outline .1s ease-in-out;
  -webkit-transition: outline .1s ease-in-out;

}

.form-control:focus {
  box-shadow: none;
  border-style: unset;
  outline-style: unset;
  outline: 5px solid colors.$skill-border-color;

  transition: outline .1s ease-in-out;
  -moz-transition: outline .1s ease-in-out;
  -webkit-transition: outline .1s ease-in-out;
}

.email-form {
  display: flex;
  flex-direction: column;
}

.form-text-area {
  resize: none;
}

.submit-button {
  width: 100px;
  height: 48px;
  margin-bottom: 20px;
}

.email-toast-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  top: 50px;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-sent-text {
  text-align: center;
  font-size: 22px;
}

.email-sent-animation {
  height: 400px;
}

@media only screen and (max-width: breakpoints.$mobile-breakpoint) {
  .email-sent-animation {
    height: 250px;
  }
}