@import '../../colors.scss';

.carousel-container {
  height: 900px;
  width: 525px;
  min-width: 525px;
  margin-left: 100px;
  box-sizing: content-box;
  border: 5px solid $carousel-border-color;
  border-radius: 10px;
  background-color: $skill-background-color;
  overflow: hidden;
  
  .carousel-item {
    border: 0px solid;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    align-items: center;

    .carousel-image-container {
      height: 900px;
      vertical-align: center;
      overflow: hidden;
    }

    .carousel-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}