@use '../../colors.scss';
@use '../../breakpoints.scss';

$carousel-height-desktop: 900px;
$carousel-width-desktop: 506px;

$carousel-height-tablet: 600px;
$carousel-width-tablet: 337px;

$carousel-height-mobile: 500px;
$carousel-width-mobile: 281px;

.carousel-container {
  display: flex;
  height: $carousel-height-desktop;
  aspect-ratio: 9/16;
  width: $carousel-width-desktop;
  margin-left: 100px;
  box-sizing: content-box;
  border: 5px solid colors.$carousel-border-color;
  border-radius: 10px;
  background-color: colors.$carousel-border-color;
  object-fit: fill;
  
  .carousel-item {
    border: 0px solid;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    align-items: center;

    .carousel-image-container {
      height: $carousel-height-desktop;
    }

    .carousel-image {
      height: $carousel-height-desktop;
      width: $carousel-width-desktop;
      border-radius: 5px;

    }
  }
}

@media only screen and (max-width: breakpoints.$tablet-breakpoint) {
  .carousel-container {
    height: $carousel-height-tablet;
    width: $carousel-width-tablet;

    .carousel-item {
      .carousel-image-container {
        height: $carousel-height-tablet;
      }

      .carousel-image {
        height: $carousel-height-tablet;
        width: $carousel-width-tablet;
      }
    }

  }
}

@media only screen and (max-width: breakpoints.$mobile-breakpoint) {
  .carousel-container {
    margin-left: 0px;
    flex-direction: column;
    align-self: center;
    height: $carousel-height-mobile;
    width: $carousel-width-mobile;

        .carousel-item {
      .carousel-image-container {
        height: $carousel-height-mobile;
      }

      .carousel-image {
        height: $carousel-height-mobile;
        width: $carousel-width-mobile;
      }
    }
  }
}
