@use '../../breakpoints.scss';
@use '../../colors.scss';

.experience-container {
  padding-bottom: 50px;

  .experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 10px;
    
    .experience-text {

      margin-right: 100px;

      .experience-location {
        font-size: 36px;
      }

      .experience-title {
        font-size: 28px;
      }

      .experience-description {
        padding-left: 0px;
        margin-left: 0px;
        font-size: 16px;

        a {
          text-decoration: none;
          color: colors.$link-text-color;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

    .experience-logo-container {
      display: block;
      max-width: 320px;
      margin-top: 20px;
      margin-right: 80px;

      .experience-logo {
        display: flex;
        justify-content: flex-end;

        .new-tab-icon {
          display: flex;
          align-items: start;
          width: 15px;
        }
      }
    }
  }

  .experience-alt {
    position: relative;
  }
  .experience-alt::before {
    content: "";
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: -25px; 
    width: calc(100% + 25px); 
    height: 100%;
    background-color: colors.$skill-background-color;
    z-index: -1; 
  }
}

@media only screen and (max-width: breakpoints.$tablet-breakpoint) {
  .experience-container {
    
    .experience {
      
      .experience-text {

        .experience-location {
          font-size: 28px;
        }

        .experience-title {
          font-size: 22px;
        }
      }

      .experience-logo-container {
          margin-right: 30px;
      }
    }
  }
}

@media only screen and (max-width: breakpoints.$mobile-breakpoint) {
  .experience-container {
    .experience {
      flex-direction: column;

      .experience-text {
        margin-right: 10px;
      }

      .experience-logo-container {
          align-self: flex-end;
          margin-top: 60px;
          margin-right: 10px;
          max-width: 250px;
      }
    }
  }
}
