@use '../../breakpoints.scss';

.experience-container {
  padding-bottom: 50px;

  .experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .experience-text {

      margin-right: 100px;

      .experience-location {
        padding-top: 10px;
        font-size: 36px;
      }

      .experience-title {
        font-size: 28px;
      }

      .experience-description {
        padding-left: 0px;
        margin-left: 0px;
        font-size: 16px;
      }
    }


    .experience-logo {
      display: flex;
      height: 100px;
      margin-top: 20px;
      margin-right: 100px;
    }
  }
}

@media only screen and (max-width: breakpoints.$tablet-breakpoint) {
  .experience-container {
    
    .experience {
      
      .experience-text {

        .experience-location {
          font-size: 28px;
        }

        .experience-title {
          font-size: 22px;
        }
      }

      .experience-logo {
        margin-right: 50px;
      }
    }
  }
}
@media only screen and (max-width: breakpoints.$mobile-breakpoint) {
  .experience-container {
    .experience {
      flex-direction: column;
      
      .experience-logo {
        align-self: flex-end;
        margin-right: 0px;
        height: 80px;
      }
    }
  }
}