@use '../../breakpoints.scss';
@use '../../colors.scss';

.experience-container {
  padding-bottom: 50px;

  .experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 10px;
    
    .experience-text {

      margin-right: 100px;

      .experience-location {
        font-size: 36px;
      }

      .experience-title {
        font-size: 28px;
      }

      .experience-description {
        padding-left: 0px;
        margin-left: 0px;
        font-size: 16px;
      }
    }

    .experience-logo {
      display: flex;
      height: 100px;
      max-width: 300px;
      margin-top: 20px;
      margin-right: 100px;
    }
  }

  .experience-alt {
    position: relative;
  }
  .experience-alt::before {
    content: "";
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: -25px; 
    width: calc(100% + 25px); 
    height: 100%;
    background-color: colors.$skill-background-color;
    z-index: -1; 
  }
}

@media only screen and (max-width: breakpoints.$tablet-breakpoint) {
  .experience-container {
    
    .experience {
      
      .experience-text {

        .experience-location {
          font-size: 28px;
        }

        .experience-title {
          font-size: 22px;
        }
      }

      .experience-logo {
        margin-right: 50px;
      }
    }
  }
}

@media only screen and (max-width: breakpoints.$mobile-breakpoint) {
  .experience-container {
    .experience {
      flex-direction: column;

      .experience-text {
        margin-right: 10px;
      }

      .experience-logo {
        align-self: flex-end;
        margin-right: 10px;
        height: 80px;
        max-width: 200px;
      } 
    }
  }
}
